
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i);




@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#full-container{
    background-color: #090909;
    color: #FFE600;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
body{
    overflow: hidden;
}
section {
    scroll-snap-align: start;
}
#typed-cursor {
    display: none !important;
}
.startTyper{
    color: #FFE600;
    display: inline-block;
    white-space: break-spaces;
}

.header-sign{
    background-color:#FFE600 ;
    border-radius: 12px;
    border: none;
    margin-left: auto;
    float: right;
    height: 25px;
    width: 100px;
    margin-right: auto;
    margin-top: 21px;
    font-weight: 600;
    padding-bottom: 27px;
    
    
    
}
a:hover{
    text-decoration: none;
}
.sign-button-2{
    
    background-color:#FFE600 ;
    border-radius: 12px;
    border: none;
    margin-left: 165px;
    height: 25px;
    width: 100px;
    margin-right: auto;
    margin-top: 101px;
    font-weight: 600;
    display: block;
    padding-bottom: 27px;
    
    
    
}

.header-top-content{
    height: 70px;
    position: fixed;
     width: 100%;
      z-index: 1;
      background-color: black;
    
}
.row{
    
    margin-right: 0px !important;
    
}
.header{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: #090909;
}
.header-logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 60px;
    float: left;
    margin-top: 4px;

}
.header-stargram{
    padding-top: 20px;
    font-family: 'Sen';
    font-size: 21px;
}
html {
    scroll-behavior: smooth;
  }
.tagline-content{
    background-color: #090909;
    width: 100%;
    font-size: 40px ;
    max-height: 200px;
    text-align: center;
    padding-left: 21%;
    padding-right: 21%;
    padding-top: 226px;
    font-family: 'OrkneyRegular';
   font-weight: normal;
   font-style: normal;

    
}
.icon-scroll{
    margin-left: 48%;
    margin-top: 260px;
    margin-bottom: 40px;
    margin-right: 47%;
    
}

.search-get-section{
    
    margin-top: auto;
    
    
}
#search-section{
    margin-top: -50px;
}
.card-img-top{
    background-color: #090909;
    border: none;
    height: 118px;
    margin-top: 38px;
    margin-left: 24px;
    


} 
.cards{
    border: none !important;
}
.description{
    font-family: 'AdobeGaramondProRegular'; 
    text-align: center;
    background-color: #090909;
    padding-top: 20px;
    margin-left: 39px;
    
}
.description-search{
    font-family: 'AdobeGaramondProRegular'; 
    text-align: center;
    background-color: #090909;
    padding-top: 20px;
    margin-left: 109px;
    
}
.description-reply{
    font-family: 'AdobeGaramondProRegular'; 
    text-align: center;
    background-color: #090909;
    padding-top: 20px;
    margin-left: -54px;
    
}
.record-section{
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
}
.search-your-section{
    margin:auto;
    width: 133px;
}
.reply{
    margin-left: -65px;
    height: 173px;

}
.star-on-stargram{
    font-family: monospace;
    padding-top: 100px;
    margin-left: 97px;
    margin-top: 220px;
    
}
.dashed{
    display: none;
    margin-left: 50%;
    margin-top: 50px;
}
.hrline {
    margin-top: -3px;
    border-top: 2px solid #FFE600;
    width: 3%;
    margin-left: 97px;
}

.signUp-section{

    text-align: left;
    padding-top: 100px;
    font-family: 'Sen';
    margin-left: 146px;
}
.signUp-form{
    text-align: center;
    padding-top: 10px;
    margin-left: 92px;
    
}
.form-style{
    width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #FFE600;
  background-color: #090909;
  color: white;

}
.submit-button{
    border-radius: 8px;
    background-color:#FFE600 ;
    border: none;
    margin-left: -229px;
    font-weight: 600;
    height: 35px;
    width: 100px;
    
}
.faq{
    text-align: center;
    font-family: sans-serif;
    margin-top: 14px;
}
.faq-align{
    position: absolute;
    margin-top: 60px;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chat-box{
    
}
.apps{
    margin-left: auto;
    margin-right: auto;
    
}
.download-ios{
    text-align: center;
    margin-top: 170px;
    font-family: 'sen';
}
.logo-bottom {
    margin-top: 77px;
    height: auto;
    width: 80px;  
    margin-left: 10px;
}
.line-1{
    margin-left: 310px;
    margin-top: -340px;
}
.line-2{
    margin-left: -170px;
    margin-top: -340px;
}
.mobile-image{
    margin-top:80px ;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.img-style{
    border-radius: 15px;
    height: 215px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* filter: blur(8px);
    -webkit-filter: blur(4px); */
}
.bottom{
    margin-top: 80px;
    background-color: black;
    
}
.bottom-stargram{
    font-family: cursive; 
    margin-left: 80px;
    margin-top: -54px;
    font-family: 'Sen';
}
.bottom-left-of-image{
    position: absolute;
    bottom: 0px;
    left:auto;
    font-family: 'Sen';
    line-height: 20px;
    color: white;
    width: 100%;
    height: 115px;
    background: linear-gradient(180deg, rgba(18, 26, 32, 0) 10%, #000);
    padding-left: 44px;
    padding-top: 54px;
    
}

.search{
    height: 183px;
    margin-top: 308px;
    margin-left: 87px;
}
.center-of-mobile {
    position: absolute;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 471px;
    width: 235px;
    overflow: auto;
}
 .center-of-mobile::-webkit-scrollbar {
    display: none;
}
.center-of-mobile {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  
.msg-card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.see-all {
    position: absolute;
    top: 54%;
    left: 60%;
    font-family: 'Sen';
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translate(-50%,-50%);
    bottom: 1px;
    color: #6A6A6A;
    width: 51%;
    height: 214px;
    background: white;
    opacity: 0.80;
    padding-left: 32px;
    padding-top: 0px;
}
.see{
    color: #6A6A6A;
    font-size: 23px;
    line-height: 25px;
    
}
.see:hover{
    text-decoration: none;
    color: #6A6A6A;
}
.image-section{
    margin-top: -92px;
}
.top-img{
    margin-top: -17px;
}
.bottom-img{
    margin-top: 0px;
}
.image-1{
    margin-left: 4px;
}
.image-2{
    margin-left: 0px;
}
.image-3{
    margin-left: 0px;
}
.image-4{
    margin-left: 0px;
}
.image-5{
    margin-left: 0px;
    margin-right: -12px;
}
.image-6{
    margin-left: 4px;
}
.image-7{
    margin-left: 0px;
}
.image-8{
    margin-left: 0px;
}
.image-9{
    margin-left: 0px;
}
.image-10{
    margin-left: 0px;
    margin-right: -12px;
}
.google-size {
        height: 55px;
        width: auto;
        margin-top: 2px;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  
  
  .marvel-device .screen {
    text-align: left;
  }
  
  
  
  
  /* Chat */
  
  .chat {
    height: calc(100% - 69px);
  }
  
  .chat-container {
    height: 100%;
  }
  
  /* User Bar */
  
  .user-bar {
    height: 40px;
    background: rgb(14, 13, 13);
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
  }
  
  .user-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
  
  .user-bar .actions {
    float: right;
    margin: 0 0 0 20px;
  }
  
  .user-bar .actions.more {
    margin: 0 12px 0 32px;
  }
  
  .user-bar .actions.attachment {
    margin: 0 0 0 30px;
  }
  
  .user-bar .actions.attachment i {
    display: block;
    transform: rotate(-45deg);
  }
  
  
  .user-bar .name {
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 3px 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 140px;
    padding-left: 80px;
  }
  
  .user-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  /* Conversation */
  
  .conversation {
    height: calc(100% - 12px);
    position: relative;
    background: black  repeat;
    z-index: 0;
  }
  
  .conversation ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  
  .conversation ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .conversation ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  .conversation .conversation-container {
    height: calc(100% - 68px);
    box-shadow: inset 0 10px 10px -10px #000000;
    overflow-x: hidden;
    padding: 0 10px;
    margin-bottom: 5px;
    height: 389px;
  }
  
  .conversation .conversation-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Messages */
  
  .message {
    color: white;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
  }
  
  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }
  
  .metadata .time {
    color: white;
    font-size: 11px;
    display: inline-block;
  }
  
  
  .message:first-child {
    margin: 16px 0 8px;
  }
  
  .message.received {
    background: #455A64;
    border-radius: 0px 5px 5px 5px;
    float: left;
  }
  
  .message.received .metadata {
    padding: 0 0 0 16px;
  }
  
  .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #455A64 transparent transparent;
    top: 0;
    left: -10px;
  }
  
  .message.sent {
    background: #075E54;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }
  
  .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #075E54;
    top: 0;
    right: -10px;
  }
  
 
 
.what-is{
    margin-left: 35px;
}
.what-is:after{
    
    left: 96px !important;
}
.connect{
    margin-top: 80px;
    padding-left: 140px;
}
.term{
    margin-top: 80px;
    padding-left: 140px;
}

.apple-image{
    margin-left: 445px ;
    margin-top: 25px ;
}
.google-image{
    margin-left: 634px ;
    margin-top: -57px ;
}
.bottom-logo-meadia{
    margin-bottom: 100px;
  
    padding-left:80px ;
}
.sign-top2{
    padding-top: 1px;
}
.sign-top{
    padding-top: 5px;
}

  
@media only screen and (max-width: 399px) 
{
    .mobile-image{
        height: 550px;
    }
    .center-of-mobile{
        width: 260px;
        margin-top: 42px;
    }
    .conversation .conversation-container {
        height: 430px;
    }
    #search-section{
        margin-top: -50px;
    }
    .icon-scroll{
        margin-bottom: 180px;
        margin-top: 380px;
    }
    .sign-top2{
        padding-top: 10px;
    }
    .sign-top{
        padding-top: 100px;
    }
    .cards{
       
        border: none !important;
    }
    .hrline {
        width: 9% !important;
        margin-left: 25px !important;
    }
    .image-1{
        margin-left: 0px !important;
    }
    
    .star-on-stargram{
        font-family: monospace;
        margin-left: 25px;
        margin-top: 220px;
        
    }
    
    .line-1{
        display: none;
    }
    .line-2{
        display: none;
    }
    .dashed{
        display: block;
        margin-left: 50%;
        margin-top: 0px;
    }
    .signUp-section{
        text-align: center;
        padding-top: 118px;
        font-family: sans-serif;
        font-size: 12px;
        margin-left: 0px;

    }
    .signUp-form{
        text-align: center;
        padding-top: 10px;
        width: 364px;
        margin-left: -2%;
        margin-bottom: 130px;
        
    }
    .sign-up{
        font-size: 27px;
    }
    .submit-button {
        width: 270px;
        margin-left: 0px;
    }
    
    .ios-meadia{
        font-size: 24px;
    }
    .ios-meadia::before{
        content: "\a";
        white-space: pre;
    }
    .download-ios-meadia{
        margin-top: 240px;
       padding: 20px;
       font-size:32px ;
    }
    .bottom-logo-meadia{
        padding-left: 40px;
        width: 50%;
    }
    .hello{
        margin-top:-10px ;
    }
    .tagline-content{
        padding-left: 15%;
        padding-right: 15%;
    }
    .record-send-content{
        height: 100px;
        margin-top: -90px;
        margin-left: -10px;
    }
    .search-your-content{
        height: 100px;
        margin-top: 92px;
        margin-left: 45px;
    }
    .reply{
        height: 100px;
        margin-top: 0px;
        margin-left: 25px;
    }
    .description-reply {
        margin-left: 5px;
        margin-top: -20px;
    }
    
    .description-search {
        margin-left: -10px;
        margin-top: -20px;
    }
    .description {
        margin-left: -5px;
        margin-top: -20px;
    }

    .image-section{
        margin-top: -100px;
    }
    .bottom-stargram{
        margin-left: 38px;
        margin-top: -53px;
    }
    .logo-bottom {
        margin-left: -26px;
    }
    .apple-image{
        margin-top: 10px;
        margin-left: 0px;
    }
    .google-image{
        margin-top: 10px;
        margin-left: -119px;
    }
    .img-style{
        height: 155px;
    }
    .tagline-content{
        font-size: 26px;
    }
    .bottom-left-of-image {
        width: 97%;
        padding-left: 14px;
        padding-top: 54px;
        
    }
    .mouse{
        margin-left: -10px !important;
        margin-top: -79px !important;
    }
    .see-all{ 
        position: absolute;
        top: 56%;
        left: 59%;
        font-family: 'Sen';
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translate(-50%,-50%);
        bottom: 1px;
        color: #6A6A6A;
        width: 55%;
        height: 165px;
        background: white;
        opacity: 0.80;
        padding-left: 32px;
        padding-top: 0px;
        
    
    }
    .image-5{
        display: none;
    }
    .image-7{
        display: none;
    }
    .image-8{
        display: none;
    }
    .image-9{
        display: none;
    }
    .google-size{
        height: 40px;
        width: auto;
        margin-left: 34%;
    }
    .apple-size{
        height: 79%;
        margin-left: 25%;
    }
    .hrline {
        margin-top: -3px;
        border-top: 2px solid #FFE600;
        width: 3%;
        margin-left: 95px;
    }
    .connect{
        margin-top: 90px;
        padding-left: 18px;
    }
    .term{
        margin-top: -20px;
        padding-left: 18px;
    }
    .hello{
        padding-bottom: 0px;
    }
    .see{
        line-height: 0px;
    }
    
}
@media only screen and (min-width: 767px) and (max-width:1023px)
{
    .tagline-content{
        padding-left: 26%;
        padding-right: 26%;
    }
    .header-stargram{
        display: none !important;
    }
    .download-ios{
        margin-top: 222px;
    }
    .record-section{
        margin-top: 155px;
    }
    .line-1{
        margin-left: 150px;
        width: 180px;
        margin-top: -600px;
    }
    .line-2{
        margin-left: -100px;
        width: 180px;
        margin-top: -600px;
    }
    .card-img-top{
        height: 400px;
    }
    .search-your-content{
        height: 250px;
        
        margin-left:20px;
    }
    .description-reply{
        margin-bottom: 150px;
        margin-left: 40px;
        font-size: 25px;
    }
    .description-search{
        margin-bottom: 150px;
        margin-left: 10px;
        font-size: 25px;
    }
    .description{
        margin-top: -110px;
        margin-bottom: 0px;
        font-size: 25px;
    }
    .sign-button-2{
        margin-top: 150px;
        margin-bottom: 200px;
    }
    .reply{
        height: 200px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .sign-button-2{
        margin-left: 80px;
    }
    .icon-scroll {
        margin-top: 610px;
    }
    .signUp-form{
        text-align: center;
        padding-top: 10px;
        width: 362px;
        margin-left: -21px;
        
        
    }
    .signUp-section{
        margin-left: 20px;
        padding-top: 0px;
    }
    .center-of-mobile{
        margin-top: 165px;
    }
    .bottom {
        margin-top: 335px;
    }
    .submit-button {
        margin-left: -150px;
    }
    .mouse{
        margin-left: -10px;
    }
  
    .image-5{
        display: none;
    }
    .image-4{
        display: none;
    }
    .image-8{
        display: none;
    }
    .image-9{
        display: none;
    }
    .google-size{
        height: 37PX;
        width: auto;
        margin-left: 0%;
        margin-top: 2px;
    }
    .apple-size{
        height: 66%;
        margin-left: -28%;
    }
    .google-image {
        margin-left: 389px;
        margin-top: -57px;
    }
    .apple-image {
        margin-left: 341px;
        
    }
    .hrline{
        border-top: 2px solid #FFE600;
        width: 5%;
        margin-left: 60px ;
    }
    .star-on-stargram {
        margin-left: 60px;
        padding-top: 228px;
    }
    .sign-top2 {
        padding-top: 213px;
    }
    .sign-top {
        padding-top: 300px;
    }
}
@media only screen and (min-width: 1024px) and (max-width:1170px)
{
    .tagline-content{
        padding-left: 26%;
        padding-right: 26%;
    }
    .image-4{
        display: none;
    }
    .download-ios{
        margin-top: 175px;
    }
    .image-section {
        margin-bottom: 50px;
    }
    .line-1{
        margin-left: 250px;
        width: 230px;
    }
    .line-2{
        margin-left: -145px;
        width: 230px;
    }
    .image-9{
        display: none;
    }
    .sign-button-2{
        margin-left: 130px;
    }
    
    .google-size{
        height: 50PX;
        width: auto;
        margin-left: 27%;
    }
    .apple-size{
        height: 90%;
        margin-left: 0%;
    }
    .google-image {
        margin-left: 389px;
        margin-top: -57px;
    }
    .apple-image {
        margin-left: 341px;
        margin-top: 38px;
        
    }
    .hrline{
        border-top: 2px solid #FFE600;
        width: 5%;
        margin-left: 12%
    }
    .signUp-form{
        text-align: center;
        padding-top: 10px;
        width: 386px;
        margin-left: 90px;
        
        
    }
    .signUp-section{
        margin-left: 130px;
    }
    .submit-button {
        margin-left: -150px;
    }
    .icon-scroll{
        margin-top: 500px;
    }
}
@media only screen and (max-width: 766px) and (min-width: 400px)
{   
    .ios-meadia{
        font-size: 28px;
    }
    .ios-meadia::before{
        content: "\a";
        white-space: pre;
    }
    .mobile-image{
        height: 600px;
    }
    .center-of-mobile{
        width: 280px;
        margin-top: 55px;
        height: 550px;
    }
    .conversation .conversation-container {
        height: 480px;
    }
    .see{
        line-height: 0px;
    }
    .download-ios-meadia{
        margin-top: 200px;
       padding: 20px;
       font-size:40px ;
    }
    .tagline-content{
        font-size: 26px;
    }
    .line-1{
        display: none;
    }
    .line-2{
        display: none;
    }
    .dashed{
        display: block;
        margin-left: 50%;
        margin-top: 50px;
    }
    .mouse{
        margin-left: -15px;
    }
    .img-style{
        height: 165px;
    }
    .record-send-content{
        height: 100px;
        margin-top: -90px;
        margin-left: -10px;
    }
    .search-your-content{
        height: 100px;
        margin-top: 92px;
        margin-left: 40px;
    }
    .reply{
        height: 100px;
        margin-top: 0px;
        margin-left: 25px;
    }
    .description-reply {
        margin-left: 5px;
        margin-top: -20px;
    }
    
    .description-search {
        margin-left: -10px;
        margin-top: -20px;
    }
    .description {
        margin-left: -5px;
        margin-top: -20px;
    }

    .star-on-stargram{
        margin-left: 33px;
    }
    .hrline{
        margin-left: 33px !important;
        width: 8%;
    }
    .see-all{ 
        position: absolute;
        top: 56%;
        left: 57%;
        font-family: 'Sen';
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translate(-50%,-50%);
        bottom: 1px;
        color: #6A6A6A;
        width: 50%;
        height: 165px;
        background: white;
        opacity: 0.80;
        padding-left: 32px;
        padding-top: 0px;
        
    
    }
    .image-5{
        display: none;
    }
    .image-7{
        display: none;
    }
    .image-8{
        display: none;
    }
    .image-9{
        display: none;
    }
    .image-1{
        margin-left: 0px;
    }
    .signUp-section{
        margin-left: 10%;
        margin-top: 23%;
    }
    .signUp-form{
        margin-left: -3%;
        width: 400px;
        margin-bottom: 110px;
    }
    .submit-button{
        margin-left: 0px;
        width: 270px;
    }
    .bottom-left-of-image{
        width: 98%;
        margin-left: -10px;
    }
    .apple-image{
        margin-top: 10px;
        margin-left: 0px;
    }
    .google-image{
        margin-top: 10px;
        margin-left: -119px;
    }
    
    .google-size{
        height: 40px;
        width: auto;
        margin-left: 37%;
    }
    .apple-size{
        height: 79%;
        margin-left: 32%;
    }
    
    .bottom-stargram{
        margin-left: 12px;
        margin-top: -53px;
    }
    .logo-bottom {
        margin-left: -56px;
    }
    .connect{
        margin-top: 90px;
        padding-left: 18px;
    }
    .term{
        margin-top: -20px;
        padding-left: 18px;
    }
    .hello{
        padding-bottom: 0px;
    }
    .icon-scroll{
        margin-top: 400px;
        margin-left: 48%;
        margin-bottom: 120px;
    }
    .sign-top{
        margin-top: 30px;
    }
    
}
@media only screen and (max-width: 357px) 
{
    .icon-scroll {
        margin-top: 360px;
    }
    .signUp-form{
        width: 326px;
        margin-left: -6%;
    }
    .submit-button{
        width: 230px;
    }
    .search-your-content {
        height: 95px;
        margin-top: 68px;
    }
    .record-send-content
    {
        height: 95px;
        margin-top: -124px;
    }
    .description {
        margin-left: -5px;
        margin-top: -40px;
    }
    .image-6{
        margin-left: -3px;
    }
    .image-10{
        margin-left: 0px;
    }
    .star-on-stargram {
        padding-top: 66px;
    }
    .google-size{
        height: 37PX;
        width: auto;
        margin-left: 34%;
    }
    .line-1{
        display: none;
    }
    .line-2{
        display: none;
    }
    .see{
        line-height: 0px;
        
    }
    .img-style{
        height: 150px;
    }
    .see-all{
        width: 80px;
        top: 56%;
        left: 60%;
        height: 150px;
    }
    .apple-size{
        height: 66%;
        margin-left: 25%;
    }
    .bottom-stargram {
        margin-left: 25px;
    }
    .logo-bottom {
        margin-left: -42px;
    }
    .hrline{
        border-top: 2px solid #FFE600;
        width: 12%;
        margin-left: 17%
    }
    .signUp-section{
        margin: -6px ;
        padding-top: 50px;
    }
    .mobile-image {
        height: 479px;
    }
    .center-of-mobile {
        width: 227px;
        margin-top: 75px;
    }
    .conversation .conversation-container {
        height: 365px;
    }
    .bottom{
        margin-top: 20px;
    }
    .connect{
        margin-top: 90px;
        padding-left: 20px;
    }
    .term{
        margin-top: -20px;
        padding-left: 20px;
    }
    .hello{
        padding-bottom: 0px;
    }
    .tagline-content{
        font-size: 26px;
        margin-top: 0px;
    }
}
@media only screen and (min-width: 371px)  and (max-width:378px)
{
    .apple-image{
        margin-top: 10px;
        margin-left: 0px;
    }
    .google-image{
        margin-top: 10px;
        margin-left: -119px;
    }
    
    .google-size{
        height: 40px;
        width: auto;
        margin-left: 42%;
    }
    .apple-size{
        height: 79%;
        margin-left: 25%;
    }
    .download-ios-meadia{
        margin-top: 145px;
        padding: 20px;
        font-size:40px ;
    }
    .bottom {
        margin-top: 130px;
    }
    .line-1{
        display: none;
    }
    .line-2{
        display: none;
    }
    .hrline{
        border-top: 2px solid #FFE600;
        width: 10%;
        margin-left: 14%
    }
    .ios-meadia{
        font-size: 28px;
    }
    .ios-meadia::before{
        content: "\a";
        white-space: pre;
    }
    .bottom-left-of-image{
        width: 97%;
    }
    .see-all{ 
        position: absolute;
        top: 55%;
        left: 60%;
        font-family: 'Sen';
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translate(-50%,-50%);
        bottom: 1px;
        color: #6A6A6A;
        width: 50%;
        height: 163px;
        background: white;
        opacity: 0.80;
        padding-left: 32px;
        padding-top: 0px;
        
    
    }
    .see{
        line-height: 0px;
    }
    .tagline-content{
        padding-left: 15%;
        padding-right: 15%;
        font-size: 26px;
    }
    .line-1{
        display: none;
    }
    .line-2{
        display: none;
    }
    .mouse{
        margin-left: -15px;
    }
    .record-send-content{
        height: 100px;
        margin-top: -90px;
        margin-left: -10px;
    }
    .search-your-content{
        height: 100px;
        margin-top: 92px;
        margin-left: 40px;
    }
    .reply{
        height: 100px;
        margin-top: 0px;
        margin-left: 25px;
    }
    .description-reply {
        margin-left: 5px;
        margin-top: -20px;
    }
    
    .description-search {
        margin-left: -10px;
        margin-top: -20px;
    }
    .description {
        margin-left: -5px;
        margin-top: -20px;
    }

    .image-5{
        display: none;
    }
    .image-7{
        display: none;
    }
    .image-8{
        display: none;
    }
    .image-9{
        display: none;
    }
    .image-1{
        margin-left: 0px;
    }
    .star-on-stargram{
        margin-left: 30px;
    }
    .hrline{
        margin-left: 30px !important;
    }
    .signUp-section{
        margin-left: 3%;
        padding-top: 54px;
    }
    .signUp-form{
        margin-left: -5%;
        width: 377px;
        margin-bottom: 158px;
    }
    .submit-button{
        margin-left: 0px;
        width: 270px;
    }
    .bottom-stargram{
        margin-left: 40px;
        margin-top: -53px;
    }
    .logo-bottom {
        margin-left: -25px;
    }
    .connect{
        margin-top: 90px;
        padding-left: 18px;
    }
    .term{
        margin-top: -20px;
        padding-left: 18px;
    }
    .hello{
        padding-bottom: 0px;
    }
    .icon-scroll{
        margin-left: 48%;
        margin-top: 370px;
        margin-bottom: 219px;
    }
    .img-style{
        height: 165px;
    }
}
